<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <head th:fragment="default(title)">
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="A web tool for cloning several git projects" />
        <meta name="author" content="ISE Lab" />
        <meta name="keywords" content="iselab,git,cloner" />

        <meta name="robots" content="index, follow" />

        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/images/favicons/apple-touch-icon.png}">
		<link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicons/favicon-32x32.png}">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicons/favicon-16x16.png}">
		<link rel="manifest" th:href="@{/site.webmanifest}">

        <!-- Vendor -->
        <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}" />

        <!-- Application -->
        <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>

        <title th:text="|${title} - GitCloner|"></title>
    </head>
</body>
</html>
