<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="fragments/layout :: layout('settings', 'Settings', ~{::section}, ~{::footer})">
<body>
	<section>

        <div class="row header">
            <div class="col">
                <h3>Settings</h3>
            </div>
            <div class="col-auto">

            </div>
        </div>

		<div class="card">
            <div class="card-body">

                <form>
                    <div class="form-group">
                        <label class="font-weight-bold" for="output">Output</label>
                        <input class="form-control" id="output" th:value="${settings.output}" readonly/>
                        <small class="form-text text-muted">Folder where the projects will be cloned</small>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="corePoolSize">Core Pool Size</label>
                        <input class="form-control" id="corePoolSize" th:value="${settings.corePoolSize}" readonly/>
                        <small class="form-text text-muted">Minimum number of workers to keep alive</small>
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="maxPoolSize">Max Pool Size</label>
                        <input class="form-control" id="maxPoolSize" th:value="${settings.maxPoolSize}" readonly/>
                        <small class="form-text text-muted">Maximum number of threads that can ever be created</small>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <footer></footer>
</body>
</html>
